<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        form{
            width: 30%;
            height: 180px;
            border: 1px solid black;
        div{
            display: flex;
            gap: 5px;
            align-items: center;
            margin: 5px;
        }
    </style>
</head>
<body>
    <form action="result">
        <div><h1>Basic Calculator</h1></div>
        <div class="inputs">
            <input type="number" name="number1" id="">
            <input type="number" name="number2" id="">
        </div>
        <div class="buttons">
            <button type="submit" name="add">Add</button>
            <button type="submit" name="subtract">Sub</button>
            <button type="submit" name="multiply">Mul</button>
            <button type="submit" name="divide">Div</button>
        </div>
    </form>
</body>
</html>